@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

html {
  background-color: #FAFAFA;
}

body {
  background-color: #FFFFFF;
}

.logo {
  font-family: 'Chakra Petch', sans-serif;
  color: #00BCD4;
}

.title {
  color: #00BCD4;
}

.xlarge {
  font-size: 42pt;
}

.is-white {
  color: #FFFFFF;
}

.has-logo-color {
  background-color: rgba(0, 188, 212, 0.7);
}

.hero-background {
  background-image: url('/2024/img/bg.webp');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.small-padding {
  padding: 1.5rem 1.5rem 3rem;
}

@media screen and (max-width: 1024px) {
  .hero-background {
    background-image: url('/2024/img/bg_small.webp');
  }
}

@media screen and (min-width: 1024px) {
  a.navbar-item.is-active {
    background-color: #FAFAFA!important;
  }

  .navbar-item, .navbar-link {
    color: #FFFFFF;
  }

  .navbar-item:hover .navbar-link {
    color: #485fc7;
  }

  .navbar-link:not(.is-arrowless)::after {
    border-color: #FFFFFF;
  }

  .navbar-item:hover .navbar-link:not(.is-arrowless)::after {
    border-color: #485fc7;
  }

  .navbar-dropdown .navbar-item {
    color: #000000;
  }
}

.has-shadow {
  text-shadow: 1px 1px 3px #555555;
}
