@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

.logo {
  font-family: 'Chakra Petch', sans-serif;
  color: #00BCD4;
}

.xlarge {
  font-size: 42pt;
}

.is-white {
  color: #FFFFFF;
}

.has-logo-color {
  background-color: rgba(0, 188, 212, 0.7);
}

.hero-background {
  background-image: url('/2024/img/bg.webp');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  .navbar-item, .navbar-link {
    color: #FFFFFF;
  }

  .navbar-link:not(.is-arrowless)::after {
    border-color: #FFFFFF;
  }

  .navbar-dropdown .navbar-item {
    color: #000000;
  }
}

.has-shadow {
  text-shadow: 0 0 5px #777777;
}
