body {
	padding-top: 60px;
}

h1, h2, h3, h4, h5, h6, .btn {
    font-family: Lato, Helvetica, "Sans Serif";
}

p, ul {
    font-family: "Gentium Book Basic", "Serif";
    font-size: 14pt;
    line-height: 1.6em;
}

.navbar-nav li {
    font-family: Lato, Helvetica, "Sans Serif";
}